.navbar {
    background-color:black;
    width:100%;
    height: 40px;
    display:inline-block;
    color: white;
    /* padding-left: 40px; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
    top: 0;
    z-index: 999;
}
header{
    margin-top: 6px;
    background-color: white;
    min-width:100vw;
    height: 120px;
    left: 0;
    background-color:white;
    color: black;
    display:flex;  
    padding-top:10px;
    /* padding-left: 40px;  */
}
nav{
    display:flex;
    padding-bottom:500px;
}
ul li{
    display:inline;
    padding: 20px;

}
a{
    display: inline;
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    color: brown;
}
.l1{
    margin-left:800px;
}
/* .mus{
    display: grid;
}
.musl{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    width: 50vw;
    margin-left: 70px;
}
.musl img{
    border-radius: 40px;
    width: 100%;
    height: 350px;
} */
 
.mus{
    display: grid;
    grid-auto-flow: column;
}
.musl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 80px;
    width:50vw;
    margin-left: 70px;
    grid-template-areas:
    "first second third"
    "fourth ... fifth"
    "sixth seven eight"
    ;
    padding-top: 80px;

    
}
.musl img{
    width: 100%;
    height: 350px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px;
    
}




.musl img:nth-child(1){
    grid-area: first;

}
.musl img:nth-child(2){
    grid-area: second;

}
.musl img:nth-child(3){
        grid-area: third;
}

.musl img:nth-child(4){
    grid-area: fourth;

}
.musl img:nth-child(5){
    grid-area: fifth;

}
.musl img:nth-child(6){
    grid-area: sixth;


}
.musl img:nth-child(7){
    grid-area: seven;

}
.musl img:nth-child(8){
    grid-area: eight

}
.muslim{
    padding-top: 200px;
    font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  
 }

.muss{
    margin-left: 90px; 
    margin-right: 60px;
    margin-top: 130px;
}
.clrm{
    background-color:gray;
    width: 80px;
    height: 40px;
    border-radius: 20%;
    padding: 30px;
    margin: 40px;
}
